<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}DevThis{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                '@DevThisDefaultBundle/Resources/public/less/main.less'
                'bundles/mopabootstrap/less/mopabootstrapbundle.less'
               filter='?yui_css, cssrewrite'
               output='assets/css/app.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a href="#" class="brand">DevThis</a>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">Jeroen is awesome</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            {% block nav %}{% endblock %}
                        </ul>
                    </div>
                </div>
                <div class="span9">
                    <div class="well">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        
        {% block javascripts %}
            {% javascripts
                'http://code.jquery.com/jquery-1.8.2.min.js'
                '@DevThisDefaultBundle/Resources/public/js/bootstrap.min.js'
                filter='?yui_js' output='assets/js/admin.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
