<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                '@DevThisDefaultBundle/Resources/public/less/main.less'
                'bundles/mopabootstrap/less/mopabootstrapbundle.less'
               filter='?yui_css, cssrewrite'
               output='assets/css/app.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <!--<header>
            <h1>Dev This</h1>
        </header>
        <div id="main">
            <div id="sidebar">
                {# {% block sidebar %}{% endblock %} #}
            </div>
            
            <div id="content">
                {# {% block body %}{% endblock %} #}
            </div>
        </div> -->

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a href="#" class="brand">DevThis</a>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">Jeroen is awesome</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Onderzoek</li>
                            <li class="active"><a href="#">Arduino</a></li>
                            <li><a href="#">Atmega</a></li>
                            <li><a href="#">RFM radio</a></li>
                            <li class="nav-header">Design</li>
                            <li><a href="#">Chip</a></li>
                            <li><a href="#">Files</a></li>
                        </ul>
                    </div>
                </div>
                <div class="span9">
                    <div class="hero-unit">
                        <h1>Header 1</h1>
                        <h2>Header 2</h2>
                        <h3>Header 3</h3>
                        <p>Paragraph</p>
                    </div>
                </div>
            </div>
        </div>
        
        {% block javascripts %}
            {% javascripts
                'http://code.jquery.com/jquery-1.8.2.min.js'
                '@DevThisDefaultBundle/Resources/public/js/bootstrap.min.js'
                filter='?yui_js' output='assets/js/admin.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
