{% extends 'DevThisDefaultBundle:Default:_base.html.twig' %}

{% block body %}
	<h1>{{ category.name }}</h1>
	{{ category.content|raw }}
	<h3>Content</h3>
	{% for post in category.posts %}
		<p><a href="{{ path('dev_this_default_homepage_post', {post: post.id}) }}">{{ post.name }}</a></p>
	{% endfor %}
{% endblock %}